product-name = "wooting-profile-switcher"
version = "3.0.0"
identifier = "com.shaybox.wooting-profile-switcher"

[bundle]
active = true
targets = "all"
icon = ["icons/32x32.png", "icons/128x128.png", "icons/128x128@2x.png", "icons/icon.icns", "icons/icon.ico"]
copyright = "Copyright (c) 2021 Shayne Hartford"
category = "Utility"
short-description = "Automatically switch Wooting keyboard profiles based on focused window"

[build]
frontend-dist = "src"

[plugins.updater]
active = true
pubkey = "dW50cnVzdGVkIGNvbW1lbnQ6IG1pbmlzaWduIHB1YmxpYyBrZXk6IDhCMTZBMEZBOEQ0NDNCQUEKUldTcU8wU04rcUFXaXlVdEhyWG9ZRi9vUGNPekVMWmVOL2dMcG40dEpXUzUwdkxkczVBU2JaOWwK"
endpoints = ["https://github.com/ShayBox/Wooting-Profile-Switcher/releases/latest/download/latest.json"]
